.brand-logo img{
    height: 2em;   
}

/* .nav-wrapper{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(86,110,52,1) 100%);
} */

.theme-color-background{
    background: rgb(86,110,52);
    background: linear-gradient(0deg, rgba(86,110,52,1) 0%, rgba(0,0,0,1) 100%);
}

nav ul li span.badge{
    position: relative;
    top: 20px;
    right: 37px;
    z-index: 1;
    }


ul.sidenav li{
    text-align: left;
}

.userWelcome{
    margin-top: -7px;
}

.page-title{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(26,35,126,1) 25%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pagination li {
    cursor: pointer;
    border-radius: 10px;
}

.pagesRow {
    /* display: flex;
    align-items: center; */
}

.pagesRow .pageSize {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.pagesRow .pageSize span {
    color: slategray;
}

.pagination li.active {
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(86,110,52,1) 100%);
}

/* Small devices  */
@media (min-width: 300px) {
    nav .brand-logo {
        font-size: 21px;
    }
}

/* (tablets, 768px and up) */
@media (min-width: 700px) {
    nav .brand-logo {
        font-size: 21px;
    }
}

/* Large Tablets  */
@media (min-width: 1000px) {
    nav .brand-logo {
        font-size: 30px;
    }
}

/* Computer */
@media (min-width: 1500px) {

    nav .brand-logo {
     font-size: 30px;
 }
   
}